<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INF403</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div>
        <h1 class="title">INF403</h1>
        <div class="intro">
            <p>Welcome to our Database Project! Our project involves designing and implementing a relational
                database system to manage a fictitious company's operations. This database includes tables 
                for customers, orders, products, and more. By leveraging SQL queries, we can efficiently 
                retrieve, update, and analyze data to support various business processes.
                </p>    
        </div>

            <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
        <div id="wrapper">
        <a href="./main_menu" class="my-super-cool-btn">
            <div class="dots-container">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            <span>Run!</span>
          </a>
          </div>
</body>
</html>
