<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Tables</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Orbitron:wght@400..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <h1>Show Tables</h1>
    <div class="center-wrapper">
        <a href="./main_menu" class="glowing-btn">
            <span class="glowing-txt">Return</span>
        </a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Table Name</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr>
                <td>{{ table[0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>