<button type="submit" class="glowing-ntb" name="option" value="customer_by_id"><span class="glowing-txt">Customer by
        ID</span></button>
<button type="submit" class="glowing-ntb" name="option" value="product_by_id"><span class="glowing-txt">Product by
        ID</span></button>
<button type="submit" class="glowing-ntb" name="option" value="order_by_id"><span class="glowing-txt">Order
        by ID</span></button>
<br>
<button type="submit" class="glowing-ntb" name="option" value="warehouse_by_id"><span class="glowing-txt">Warehouse by
        ID</span></button>
<button type="submit" class="glowing-ntb" name="option" value="recycling_company_by_id"><span
        class="glowing-txt">Recycling Company by ID</span></button>
<button type="submit" class="glowing-ntb" name="option" value="city_by_postal_code"><span class="glowing-txt">City by
        Postal Code</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_product_id"><span class="glowing-txt">Orders by
        Product ID</span></button>
<br>
<button type="submit" class="glowing-ntb" name="option" value="products_by_customer_id"><span
        class="glowing-txt">Products by Customer ID</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_city"><span class="glowing-txt">Orders by
        City</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_date_range"><span class="glowing-txt">Orders by
        Date Range</span></button>
<br>
<!-- Add more buttons here -->
<button type="submit" class="glowing-ntb" name="option" value="customers_by_order_date"><span
        class="glowing-txt">Customers by Order Date</span></button>
<button type="submit" class="glowing-ntb" name="option" value="products_by_waste_type"><span
        class="glowing-txt">Products by Waste Type</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_recycling_company"><span
        class="glowing-txt">Orders by Recycling
        Company</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_warehouse"><span class="glowing-txt">Orders by
        Warehouse</span></button>
<br>
<!-- Add more buttons here -->
<button type="submit" class="glowing-ntb" name="option" value="orders_by_product_type"><span class="glowing-txt">Orders
        by Product Type</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_product_waste_type"><span
        class="glowing-txt">Orders by Product Waste
        Type</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_product_name"><span class="glowing-txt">Orders
        by Product Name</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_customer_id"><span class="glowing-txt">Orders
        by Customer ID</span></button>
<br>
<!-- Add more buttons here -->
<button type="submit" class="glowing-ntb" name="option" value="orders_by_customer_name"><span class="glowing-txt">Orders
        by Customer Name</span></button>
<button type="submit" class="glowing-ntb" name="option" value="customers_by_product_id"><span
        class="glowing-txt">Customers by Product ID</span></button>
<button type="submit" class="glowing-ntb" name="option" value="customers_by_product_name"><span
        class="glowing-txt">Customers by Product Name</span></button>
<button type="submit" class="glowing-ntb" name="option" value="customers_by_city"><span class="glowing-txt">Customers by
        City</span></button>
<br>
<!-- Add more buttons here -->
<button type="submit" class="glowing-ntb" name="option" value="customers_by_order_date_range"><span
        class="glowing-txt">Customers by Order Date
        Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="products_by_customer_id"><span
        class="glowing-txt">Products by Customer ID</span></button>
<button type="submit" class="glowing-ntb" name="option" value="products_by_customer_name"><span
        class="glowing-txt">Products by Customer Name</span></button>
<button type="submit" class="glowing-ntb" name="option" value="products_by_customer_city"><span
        class="glowing-txt">Products by Customer City</span></button>
<br>
<!-- Add more buttons here -->
<button type="submit" class="glowing-ntb" name="option" value="products_by_customer_order_date_range"><span
        class="glowing-txt">Products by
        Customer Order Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="products_by_customer_type"><span
        class="glowing-txt">Products by Customer Type</span></button>
<button type="submit" class="glowing-ntb" name="option" value="products_by_customer_waste_type"><span
        class="glowing-txt">Products by Customer
        Waste Type</span></button>
<button type="submit" class="glowing-ntb" name="option" value="products_by_customer_id_and_date_range"><span
        class="glowing-txt">Products by
        Customer ID and Date Range</span></button>
<br>
<!-- Add more buttons here -->
<button type="submit" class="glowing-ntb" name="option" value="products_by_customer_name_and_date_range"><span
        class="glowing-txt">Products by
        Customer Name and Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="products_by_customer_city_and_date_range"><span
        class="glowing-txt">Products by
        Customer City and Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="products_by_customer_type_and_date_range"><span
        class="glowing-txt">Products by
        Customer Type and Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="products_by_customer_waste_type_and_date_range"><span
        class="glowing-txt">Products by Customer Waste Type and Date
        Range</span></button>
<br>
<!-- Add more buttons here -->
<button type="submit" class="glowing-ntb" name="option" value="customers_by_product_id_and_date_range"><span
        class="glowing-txt">Customers by
        Product ID and Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="customers_by_product_name_and_date_range"><span
        class="glowing-txt">Customers by
        Product Name and Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="customers_by_city_and_date_range"><span
        class="glowing-txt">Customers by City and
        Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="customers_by_product_type_and_date_range"><span
        class="glowing-txt">Customers by
        Product Type and Date Range</span></button>
<br>
<!-- Add more buttons here -->
<button type="submit" class="glowing-ntb" name="option" value="customers_by_product_waste_type_and_date_range"><span
        class="glowing-txt">Customers by Product Waste Type and Date
        Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_warehouse_and_date_range"><span
        class="glowing-txt">Orders by Warehouse
        and Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_recycling_company_and_date_range"><span
        class="glowing-txt">Orders by
        Recycling Company and Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_city_and_date_range"><span
        class="glowing-txt">Orders by City and Date
        Range</span></button>
<br>
<!-- Add more buttons here -->
<button type="submit" class="glowing-ntb" name="option" value="orders_by_product_type_and_date_range"><span
        class="glowing-txt">Orders by
        Product Type and Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_product_waste_type_and_date_range"><span
        class="glowing-txt">Orders by
        Product Waste Type and Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_product_name_and_date_range"><span
        class="glowing-txt">Orders by
        Product Name and Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_product_id_and_date_range"><span
        class="glowing-txt">Orders by Product
        ID and Date Range</span></button>
<br>
<!-- Add more buttons here -->
<button type="submit" class="glowing-ntb" name="option" value="orders_by_customer_id_and_date_range"><span
        class="glowing-txt">Orders by
        Customer ID and Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="orders_by_customer_name_and_date_range"><span
        class="glowing-txt">Orders by
        Customer Name and Date Range</span></button>
<button type="submit" class="glowing-ntb" name="option" value="tools"><span class="glowing-txt">Reload Tools
        Page</span></button>