<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tools</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Orbitron:wght@400..900&display=swap"
                rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <style>
                .center-wrapper1 {
                        text-align: center;
                }
        </style>
</head>

<body>
        <h1>Tools</h1>
        <p>Choose an option:</p>
        <div class="center-wrapper1">
                <form action="{{ url_for('tools') }}" method="post">
                        <button type="submit" class="glowing-ntb" name="option" value="perform_custom_sql_query"><span
                                        class="glowing-txt">Perform Custom SQL Query</span></button>

                </form>
        </div>
</body>

</html>