<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update CompanyProduct Row</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Orbitron:wght@400..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <h1>Update CompanyProduct Row</h1>
    <form action="/update_row_companyproduct" method="post">
        <label for="id_company">Company ID:</label>
        <input type="text" id="id_company" name="id_company" required
            style="width: 200px; margin: 5px auto; display: block;">
        <label for="id_product">Product ID:</label>
        <input type="text" id="id_product" name="id_product" required
            style="width: 200px; margin: 5px auto; display: block;">
        <div class="center-wrapper">
            <button type="submit" class="glowing-btn">
                <span class="glowing-txt">Submit</span>
            </button>
        </div>
    </form>
</body>

</html>