<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update City Row</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Orbitron:wght@400..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <h1>Update City Row</h1>
    <form action="/update_row_city" method="post">
        <label for="postal_code">Postal Code:</label>
        <input type="text" id="postal_code" name="postal_code" required>
        <br><br>
        <label for="city_name">City Name:</label>
        <input type="text" id="city_name" name="city_name" required>
        <br><br>
        <label for="id_company">Company ID:</label>
        <input type="text" id="id_company" name="id_company" required>
        <br><br>
        <button type="submit">Update Row</button>
    </form>
</body>

</html>